@using DU_CertificateApp.Model.Models;
@model Cart
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int total = 0;
}
<div>
    @if(ViewBag.ErrorMessage!=null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }
</div>
<div class="box box-primary">
    <a asp-controller="Order" asp-action="Index" class="btn btn-outline-secondary">Order List</a>
    <div class="box-header with-border">
        <h2 class="text-center">Available Certificates</h2><hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            @* <form method="post" asp-controller="Order" asp-action="Create"> *@
                <div class="box-body">
                    <div class="d-flex flex-wrap justify-content-center">
                        @foreach (CertificateViewModel item in ViewBag.Certificates)
                        {
                            <div style="text-align:center;padding: 1%">
                                <div class="p-2 border border-2"><img height="100px" width="80px" src="~/certification.png" /></div>
                                <div class="p-2">@item.Name</div>
                                <input type="hidden" name="id-@item.ID" value="@item.ID" />
                                <a asp-controller="Order" asp-action="AddCart" asp-route-id="@item.ID" class="btn btn-outline-primary text-black"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add to Cart</a>

                                @* <button type="submit" style="color:white;background-color:#6699ff; padding:5px; text-decoration:none; border: none;">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add to Cart
                                </button> *@
                            </div>
                        }
                    </div>
                </div>
            @* </form> *@
        </div>
    </div>
</div>

<!-- Cart Button -->
<button id="cart-button" class="btn btn-outline-success text-black" style="position: fixed; top: 80px; right: 50px; z-index: 9999;">Cart List</button>

<!-- Cart View (initially hidden) -->
<div id="cart-view" style="display: none; position: fixed; top: 120px; right: 50px; z-index: 9999; background-color: white; border: 1px solid black; padding: 10px;">
    <table class="border border-2">
        <thead>
            <tr>
                <th class="p-3">Report</th>
                <th class="p-3">Price</th>
                <th class="p-3">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cart cartItem in ViewBag.Cart)
            {
                <tr>
                    @foreach (CertificateViewModel cer in ViewBag.Certificates)
                    {
                        @if (cer.ID == cartItem.CertificateID)
                        {
                            <td class="p-3">@cer.Name</td>
                            <td class="p-3">@cer.Price</td>
                            {
                                total = total + cer.Price;
                            }
                        }                        
                    }
                    <td class="p-3">
                        <a asp-action="RemoveCart" asp-route-id="@cartItem.CertificateID" asp-controller="Order" class="text-decoration-none"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</a>
                    </td>
                </tr>
            }
        </tbody>
        <div>
            <h4>Total Price: @total</h4>
        </div>
        <div class="p-1">
            <a asp-action="PlaceOrder" asp-route-price="@total" asp-controller="Order" class="btn btn-success text-black">Place Order</a>
        </div>
    </table>
</div>

<!-- JavaScript to Toggle Cart View -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cartButton = document.getElementById("cart-button");
        var cartView = document.getElementById("cart-view");

        cartButton.addEventListener("click", function () {
            // Toggle the visibility of the cart view
            if (cartView.style.display === "none") {
                cartView.style.display = "block";
            } else {
                cartView.style.display = "none";
            }
        });
    });
</script>
